

/* for search box */
.rounded-c{
    border-radius: 100px;
}

/* for nav items hover */

.hover-nav:hover{
    border-bottom: black solid 1px;
}
.w-33{
max-width: 33.33%;
}
.gap-6{
    gap: 3.8rem;
}
.h-c{
    max-height: 56%;
}
.appointment{
    background: linear-gradient(hsla(212, 99%, 40%, 0.3), rgba(1, 65, 201, 0.6)), url(https://hbr.org/resources/images/article_assets/2020/07/AAug20_07_KlaweRzeczy_Consulting2.jpg) center center no-repeat;

}
.bg-c{
    background-color: #fffb0041;
}
.team{
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.07);
}
.team:hover .team-text{
    opacity: 1;
    bottom: 0;
}
.team:hover .img-c{
    transform: scale(1.1);
}
.img-c{
    transition: 0.5s;
}
.team-text{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -50px;
    opacity: 0;
    transition: 0.5s;
}
.testimonial-left{
    position: relative;
    
}
.testimonial-left :nth-child(1){
    position: absolute;
    top: 10%;
    left: 50%;
}
.testimonial-left :nth-child(2){
    position: absolute;
    top: 50%;
    left: 10%;
}
.testimonial-left :nth-child(3){
    position: absolute;
    bottom: 10%;
    right: 10%;
}
.testimonial-right{
    position: relative;
}
.testimonial-right :nth-child(1){
    position: absolute;
    top: 10%;
    right: 50%;
}
.testimonial-right :nth-child(2){
    position: absolute;
    top: 50%;
    right: 10%;
}
.testimonial-right :nth-child(3){
    position: absolute;
    bottom: 10%;
    left: 10%;
}

